<h2>My Humans</h2>

<div>
  <label>Human First Name:
    <input #humanFirstName />
  </label>
  <label>Human Last Name:
    <input #humanLastName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(humanFirstName.value,humanLastName.value); humanFirstName.value=''; humanLastName.value=''">
    add
  </button>
</div>


<ul class="humans">
  <li *ngFor="let human of humans">
    <a routerLink="/detail/{{human.id}}">
      <span class="badge">{{human.id}} </span> {{human.firstName}} {{human.lastName}}
    </a>
    <button class="delete" title="delete human" 
      (click)="delete(human)">x</button>
  </li>
</ul>

<table mat-table [dataSource]="humans" class="mat-elevation-z8">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let human"> {{human.id}} </td>
  </ng-container>

  <!-- fullName Column -->
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let human"> {{human.lastName}} </td>
  </ng-container>

  <!-- Firstname Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Firstname </th>
    <td mat-cell *matCellDef="let human"> {{human.firstName}} </td>
  </ng-container>

  <!-- Lastname Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Lastname </th>
    <td mat-cell *matCellDef="let human"> {{human.lastName}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="deleteHuman">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let human"> 
      <button class="delete" title="delete human" (click)="delete(human)">x</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
